body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    ul{
        list-style-type: none;
    }
}
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo .logo-name{
    color: #2e2f42;;
}
.nav-links .link{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav-links .link:hover,
.nav-links .link:focus{
    color: #404bbf;
}
.address-main{
    font-style: normal;
}
.address-main .address-links .link{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-main .address-links .link:hover,
.address-main .address-links .link:focus{
    color: #404bbf;
}
.section-main{
    background-color: #2e2f42;
}
.section-main-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.section-main .btn-section-main{
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}
.section-main .btn-section-main:hover,
.section-main .btn-section-main:focus{
    background-color: #404BBF;
}
